/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer 
 */


 /* 1. ---General Styles--- */
 html {
   scroll-behavior: smooth;
 }

 #mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

body {
   color: #626262;
   font-family: 'Sanchez', 'Times New Roman', serif;
   background-color: #fafafa;
}

.cont {
   margin-bottom: 40px;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

.cr-red {
   color: #9a2018;
}




/* 2. ---Main Nav--- */

 #main-nav label img {
   width: 20px;
   height: 20px;
   margin-top: 15px;
   cursor: pointer;
   transition: all .5s ease;
   margin-bottom: 20px; 
} 

#main-nav input, #burger-con {
   display: none;
}


/*   ~ sibling selector   */


#main-nav input:checked ~ #burger-con {
   display: block;
}

#main-nav input:checked ~ label img {
   transform: rotate(90deg);
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #626262;
}

#main-nav ul li {
   border-bottom: 1px solid #efefef;
}



#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
} 



#logo {
   margin-bottom: 20px;
   max-width: 382px;
}


/* 3. ---Main Hero Image--- */

#hero {
   background: url(../images/hero-main.jpg) no-repeat;
   background-size: inherit;
   height: 195px;
}

.book-now {
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   transition: background-color 500ms linear;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: italic;
   transition:all 0.3s ease;
   cursor: pointer;
}

.book-now:active {
   background-color: rgb(196, 28, 28);
   animation: button .6s ease-in-out;
}

#book-now-hero {
   height: 67px;
}

.hero-img-h2, .hero-img-h3 {
   background: rgb(255, 255, 255);
   padding: 10px 15px;
   font-size: 14px;
}

.hero-img-h2 span,  .hero-img-h3 span {
   color: #9a2018;
   font-size: 12px;
}

.line-separator {
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

#hero-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

/* 4. ---Main Hero Image Contact--- */

.fas {
   font-size: 42px;
   color: #9a2018;
   margin: 0 auto;
   float: left;
}

.fa-mobile-alt {
   margin-right: 10px;
   margin-left: 3px;
   margin-bottom: 20px;
}

.fa-map-marker-alt {
   margin-right: 10px;
}

#contact {
   font-size: 11px;
   background-color: #efefef;
   padding-top: 30px;
   padding-bottom: 30px;
}

.heading-box {
   align-self: end;
}

/* 5. ---Why Choose Us--- */

 #why-choose-us-nav {
   padding-top: 20px;
}

#why-choose-us-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
#why-choose-us-nav ul li {
   margin-bottom: 15px;
}

#why-choose-us-nav ul li a {
  color: inherit;
  padding: 5px;
}

#why-choose-us-nav ul li a.selected {
   border-left: #9a2018 solid 5px;
 }


#why-choose-us-hero-con {
  background: url(../images/why-choose-us-hero.jpg) no-repeat;
  height: 195px;
}

.why-choose-us-image {
   float: left;
   margin-right: 20px;
   margin-top: 30px;
}

.why-choose-us-image-con h2 {
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 30px;
}

.why-choose-us-image-con p {
   font-size: 12px;
   margin-bottom: 20px;
   line-height: 20px;
}

.why-choose-us-image-con a {
   color: #707070;
   font-size: 12px;
}

 #why-choose-us-bottom-nav {
   background-color: #CF6666;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 30px;
}

#why-choose-us-bottom-nav ol {
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

#why-choose-us-bottom-nav ol li {
   display: inline;
}

#why-choose-us-bottom-nav ol li a {
   padding: 5px;
   color: #fff;
}



/* 6. ---About & FAQ--- */

#about-hero-con {
   background: url(../images/about-us-hero.jpg) no-repeat;
   height: 195px;
}

#about-us-text {
   padding-bottom: 60px;
}

#about-us-text p, .other-cont p, #algonquin-summary p, #contact-hero-address p, #wine_summary p {
   font-size: 14px;
   margin-bottom: 20px;
   line-height: 22px;
}

#about-us-text-column2 {
   font-style: italic;
}

#faq-con {
   background-color: #f4f4f4;
   padding-top: 35px;
   padding-bottom: 30px;
}

#faq-con h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

#faq-con h2 span {
   color: #9a2018;
   font-size: 16px;
}

.faq-items {
   margin-bottom: 16px;
}

.faq-items h3 {
   background: #e8e7e7;
   padding: 16px;
   font-size: 16px;
}

.faq-items ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.faq-items li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
}   

.faq-items a {
   color: inherit;
   font-size: 13px;
}

#faq-text-con {
   margin-top: 20px;
   margin-bottom: 20px;
}

/* 7. ---Contact--- */

#contact-hero-con {
   background: url(../images/contact-hero.jpg);
   height: 195px;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}

#contact-form form {
   display: flex;
   flex-direction: column;
}

#contact-form input, textarea {
   padding: 18px;
   border: 1px solid #d6d6d6;
   background-color: #fff;
   border-radius: 5px;
   margin-bottom: 10px;
   font: inherit;
   width: auto;
}

#contact-form textarea {
   height: 290px;
}

#contact-form input[type="submit"] {
   padding: 12px 28px;
   background: #9a2018;
   color: #fff;
   border: none;
   transition: all 200ms ease-out;
   width: 176px;
   align-self: flex-end;
   cursor: pointer;
}

#contact-form input[type="submit"]:active {
   background-color: #CF6666;
   animation: button .6s ease-in-out;
}

@keyframes button {
   50% {
      opacity: .5;
      scale: .9;
   }

   100% {
      scale: 1;
   }
}

/* 8. ---Footer--- */

#footer-hero {
   background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
   color: #fff;
   font-size: 12px;
   margin-top: 40px;
   padding-bottom: 80px;
}

#footer-hero h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}

/* spa activities */

#massage-summary p, #hand-summary p, #chefs-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

/* 1. Page nav block */

.teleport_item {
   background-color: #fff;
   height: 71px;
   text-align: left;
   font-size: 16px;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   background-position: 140px 20px;
   background-repeat: no-repeat;
   background-size: 25px;
   background-image: url(../images/arrow-circle-right-fill.svg);
}

.text {
   color: #333;
   display: inline-block;
   text-decoration: underline;
   border-left: 2px solid #CF6666;
   padding-left: 11px;
   margin-left: 15px;
}

/* 2. Waxing */

.waxing_item {
   display: flex;
   height: 52px;
   background-color: white;
   align-items: center;
   margin-bottom: 11px;
   margin-top: 5px;
}

.waxing_item .text {
   text-decoration: none;
}

.price {
   padding: 10px 0;
}

.price-text, .price-text-price, .price-des {
   display: inline;
}

.price-price{
   font-size: 28px;
   color:#871C15;
   text-align: right;
}

.price-des {
   font-size: 14px;
   color: #5C5C5C;
   padding-right: 10px;
   display: inline;
}

.price-text {
   display: flex;
   align-items: center;
   border-left: 2px solid #9a2018;
   padding-left: 9px;
}

.card {
   margin-top: 30px;
   background-color: #fff;
   padding-top: 12px;
   padding-bottom: 8px;
}


.card_text_p{
   display: flex;
   align-items: center;
   border-left: 2px solid #9a2018;
   padding-left: 9px;
}

.card_text_p-2 {
   text-align: right;
   font-size: 28px;
   color:#871C15;
   text-decoration: underline;
}

.card_text_p, .card_text_p-2 {
   margin: 8px;
}

/* 3. Algonquin */

#algonquin-summary p:nth-child(2) {
   margin-bottom: 25px;
}

/* 4. Other treatments */

.other_heading {
   font-size: 16px;
   font-weight: 600;
   margin-top: 20px;
}

.other-cont p {
   margin-bottom: 5px;
}

/* 5. Awards */

.awards h3 {
   text-decoration: underline;
}

/* 6. Policies */

.policies-text {
   padding: 20px 0px;
   border-bottom: 2px solid #CF6666;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.4;
}

.policies-text:first-child {
   border-top: 2px solid #CF6666;
   margin-top: 30px;
}

/* hero images */

#awards_hero_img {
   background-image: url(../images/awards_hero.jpg);
   height: 190px;
   background-size: inherit;
   background-repeat: no-repeat;
}

#other_hero_img {
   background-image: url(../images/other_hero.jpg);
   height: 195px;
   background-size: inherit;
   background-repeat: no-repeat;
}

#algonquin_hero_img {
   background-image: url(../images/algonquin_hero.jpg);
   height: 190px;
   background-repeat: no-repeat;
   background-size: inherit;
}

#waxing_hero_img {
   background-image: url(../images/waxing_hero.jpg);
   background-repeat: no-repeat;
   background-size: inherit;
   height: 190px;;
}

#hand_hero_img {
   background: url(../images/hand-foot_hero.jpg) no-repeat;
   background-size: inherit;
   height: 195px;
}

#scrubs_hero_img {
   background: url(../images/scrubs_hero.jpg) no-repeat;
   background-size: inherit;
   height: 195px;
}

#massage_hero_img {
   background: url(../images/massage_hero.jpg) no-repeat;
   background-size: inherit;
   height: 195px;
}

#spa_hero{
   background-image: url(../images/spa_main_hero.jpg);
   background-repeat: no-repeat;
   background-size: inherit;
   height: 195px;
}




/* dining page */


/* hero images */

#dining_hero_img {
   background-image: url(../images/dining_hero.jpg);
   background-repeat: no-repeat;
   background-size: inherit;
   height: 190px;
}

/* 1. Block 1 */

.dining_list {
   margin-top: 5px;
   padding-left: 15px;
   font-size: 14px;
}

.dining_options {
   font-size: 14px;
   padding: 0px 20px;
   background-color: #fff;
   margin-bottom: 20px;
}

/* 2. Menu block */

#menu {
   background-color: #9a2018;
   height: 358px;
   padding-left: 0px;
   padding-right: 0px;
}

.menu_box {
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 67px;
   color: #fff;
   align-self: end;

}

.menu_img {
   width: 382px;
}

/* 3. Wine award */

#wine_summary img {
   margin-top: 50px;
}


/* Checkbox after pseudo */

.terms-checkbox {
   display: none;
}

.terms-display {
   display: inline-block;
   width: 20px;
   height: 20px;
   border: 1px solid black;
   position: relative;
   border-radius: 50%;
}

.terms-display::after {
   content: '';
   position: absolute;  
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   width: 15px;
   height: 15px;
   background-color: #9a2018;
   border-radius: 50%;
   opacity: 0;

}

.terms-checkbox:checked + .terms-display::after {
   opacity: 1;
   animation: dot .1s ease-out;
}

@keyframes dot {
   0% {
      scale: 0;
   }

   100% {
      scale: 1;
   }
}

.terms-label {
   cursor: pointer;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.terms-text {
   margin-left: 10px;
   font-size: 14px;
}

.underline {
   text-decoration: underline;
   font-weight: 600;
   font-size: 14px;
}
